.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 114px );
    gap:200px
}
.hero-title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.hero-name{
    color: var(--accent-1);
}
.hero-title{
    color: var(--primary-color);
    line-height: 110%;
    font-size: 133px;
    font-weight: bold;
}
.hero-description-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.hero-description-text{
    color: var(--primary-color);

    font-size: 22px;
}
.hero-description-header{
    color: var(--primary-color);
    padding-top: 15px;
    font-size: 47px ;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 110%;
}
.hero-buttons-container{
    padding-top: 15px;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.button-1{
    color: var(--primary-color);
    padding: 10px;
    padding-inline: 10px;
    border-radius:10px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.button-2{
    padding-inline: 10px;
    border-radius:10px;
    color: var(--background);
    background-color: var(--primary-color);
    cursor: pointer;
}
.animate:focus{
    animation: bounce 500ms ease-in-out forwards;
}

@keyframes bounce {
    0%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(0.8);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@media (max-width:800px) {
    .hero-title{
        text-transform: uppercase;
        font-size: 35px;
    }
    .hero-description-text
    {
        line-height: 110%;
        font-size: 15px;
    }
    .hero-description-header{
        font-size: 20px;
    }
    .hero{
        flex-direction: row;
        height: calc(95vh - 90px);
        gap:10px;
        justify-content: flex-end;
        
    }
    .hero-buttons{
        flex-direction: row;
    }
}

@media (max-width:1500px) {
    .hero-title{
        text-transform: uppercase;
        font-size: 35px;
    }
    .hero-description-text
    {
        line-height: 110%;
        font-size: 15px;
    }
    .hero-description-header{
        font-size: 20px;
    }
    .hero{
        flex-direction: column;
        height: calc(95vh - 90px);
        gap:10px;
        justify-content: flex-end;
    }
    .hero-buttons{
        flex-direction: row;
    }
}