.hero{
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* justify-content: space-between; */
    height: calc(100vh - 114px );
    /* gap:200px */
}

.hero-title-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.hero-name{
    color: var(--accent-1);
}
.hero-title{
    line-height:110%;
    font-size: 3em;
    font-weight: bold;
}

.hero-description-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}
.hero-description-header{
    color: var(--primary-color);
    padding-top: 15px;
    /* font-size: 47px ; */
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 110%;
}
.hero-description-text{
    color: var(--primary-color);

    font-size: 15px;
}

.hero-buttons-container{
    padding-top: 15px;
}
.hero-buttons{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 
.button-1{
    color: var(--primary-color);
    padding: 10px;
    padding-inline: 10px;
    border-radius:10px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
.button-2{
    padding: 10px;
    padding-inline: 10px;
    border-radius:10px;
    color: var(--background);
    background-color: var(--primary-color);
    cursor: pointer;
}
.animate:focus{
    animation: bounce 500ms ease-in-out forwards;
}

@keyframes bounce {
    0%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(0.8);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@media (width>=1280px) {
    .hero{
        flex-direction: row;
        justify-content: space-between;
        gap:200px
    }
    .hero-title{
        line-height:110%;
        font-size:100px;
        font-weight: bold;
    }
    .hero-description-header{
     font-size: 37px ; 
    }
}
@media (width>=1900px) {
        .hero-title{
        font-size: 133px;
        }
    .hero-description-header{
     font-size: 47px ; 
    }
    .hero-description-text{
        color: var(--primary-color);

        font-size: 22px;
    }
}