
.custom-scrollbar::-webkit-scrollbar{
    width: 8px; 
    
}
.custom-scrollbar::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb{
    background-color: linear-gradient(180deg,rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: linear-gradient(180deg, rgba(255,255,255,0.4),rgba(255,255,255,0.2));
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}
.custom-scrollbar::-webkit-scrollbar-thumba:active{
    background-color: linear-gradient(180deg,rgba(255,255,255, 0.5),rgba(255,255,255,0.3));
}

.terminal-content{
    animation: closeTerminal 0.6s ease-out forwards;

}

@keyframes closeTerminal {
    0%{
            height: 0px;
    }
    100%{
        height: 384px; 
    }
}
